@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import "tailwindcss";

@theme {
  --blue-300: hsl(231, 77%, 90%);
  --blue-900: hsl(230, 35%, 7%);
  --white: hsl(0, 0%, 100%);

  --bellefair-regular: "Bellefair", serif;
}

/* font-family: Barlow, Barlow Condensed and Bellefair */
